ws1_controller/build/
ws1_controller/install/
ws1_controller/log/
ws1_controller/*.log
ws1_controller/*.o
ws1_controller/*.so
ws1_controller/CMakeCache.txt
ws1_controller/CMakeFiles/
ws1_controller/.vscode/.cache
ws1_controller/.DS_Store
